DB_USER=root
DB_PASSWORD=your_password
DB_HOST=localhost
DB_PORT=3306
DB_NAME=db_name

JWT_SECRET_KEY="YOUR SECRET KEY"
ALGORITHM="YOUR ALGO"
ACCESS_TOKEN_EXPIRE_MINUTES= "TIME"
REFRESH_TOKEN_EXPIRE_DAYS = "TIME"