# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python

# Virtual Environment
hospital_env/
venv/
env/
.venv/

# Environment variables
.env
.env.local
.env.production

# Database & Alembic
alembic/versions/
alembic/__pycache__/

# App Cache
app/core/__pycache__/
app/models/__pycache__/
app/schemas/__pycache__/
app/api/__pycache__/
__pycache__/

# Uploads (Reports)
uploads/reports/
uploads/

# VS Code / IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db